:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    --primary-text: #2c3e50;
    --bg-grey: #f5f6fa;
}

body {
    background-color: var(--bg-grey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

#wrapper {
    overflow-x: hidden;
    display: flex;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #2c3e50 !important;
    width: 15rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.kpi-card {
    transition: transform 0.3s;
}
.kpi-card:hover {
    transform: translateY(-5px);
}

.primary-text { color: var(--main-text-color); }
.rounded-full { border-radius: 100%; }

/* Sol Kenar Renkleri */
.border-left-blue { border-left: 5px solid #0d6efd; }
.border-left-green { border-left: 5px solid #198754; }
.border-left-red { border-left: 5px solid #dc3545; }
.border-left-yellow { border-left: 5px solid #ffc107; }

/* Tablo Durum Renkleri */
.badge-fazla { background-color: #d1e7dd; color: #0f5132; padding: 5px 10px; border-radius: 4px; font-weight: bold;}
.badge-eksik { background-color: #f8d7da; color: #842029; padding: 5px 10px; border-radius: 4px; font-weight: bold;}
.badge-denge { background-color: #fff3cd; color: #664d03; padding: 5px 10px; border-radius: 4px; font-weight: bold;}

@media (min-width: 768px) {
    #sidebar-wrapper { margin-left: 0; }
    #page-content-wrapper { min-width: 0; width: 100%; }
    #wrapper.toggled #sidebar-wrapper { margin-left: -15rem; }
}